[Unit]
Description=Uvicorn instance to serve FastAPI app Anti-Hero background worker
After=network.target
[Service]
User=rscaggs
Group=www-data
WorkingDirectory=/users/rscaggs/anti-hero/server
Environment="PATH=/rscaggs/anti-hero/server/env/bin"
ExecStart=/usr/bin/python worker.py
[Install]
WantedBy=multi-user.target